*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    background-color: #0e141f;
    min-height: 100vh;
    width: 100%;
    color:#fff;
    position: relative;
    background-image: url(./images/wave-haikei.svg);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
    height: 10vh;
}


.logo {
  width: 10%;
  height:100%;
}
.logo i{ 
    display:none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
}
.logo span{
    display: block;
}


nav ul{
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.toggle-btn{
    background-color: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;

}
.toggle-btn span{
    display: block;
    background-color: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
}
.hero-container{
   
    width:100%;
    min-height:90vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.right-cont{
    width: 70%;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10vw;
}
.right-cont div h3{
    font-size:5vh;
     text-transform: uppercase;
     margin-bottom:15px;
     letter-spacing:8px;
}

.right-cont div p{
    font-size:3vh;
    line-height: 25px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.left-cont{
    width: 30%;
    max-height:90vh;
    background-image: url(./images/png_water.png);
    background-size:cover;
    border-top-right-radius: 50px;
}
.btn-cont{
    width:fit-content;
}
.btn-cont button{
    margin: 10px;
    padding:10px 35px;
    font-size: 15px;
    text-transform: capitalize;
    border: none;
    outline: none;
}
.btn-cont .hire{
    background-color: rgba(16, 128, 233, 0.808);
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.btn-cont .contact{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
